.splashNav{
    /* Position */
    position: absolute;
    right: 7%;
    top: 15%;
    /* Display & Size */
    display: flex;
    flex-direction: column;
    /* Animation */
    animation: slideLeft 1.5s ease-out;
}
.splashNav button{
    width: 100%;
}
#splashResources{
    display: flex;
    justify-content: center;
    min-width: 8rem;
}
#splashResources span{

    text-align: center;
}


@keyframes slideLeft{
    0%{
        transform: translateX(200%);
    }
}

@media only screen and (max-width: 550px){
    .splashNav{
        top: 30%;
    }
}