.splashBG{
    /* Position */
    position: fixed;
    padding: 0;
    margin: 0;

    width: 90%;
    height: 90%;
    
    transform: translate3d(0,0,0);
    border: 0.5rem solid aliceblue;
    border-radius: 1rem;
}

.movingBG{
    position: relative;
    background-image: url('./splashBGscrollCrop.jpg');
    background-repeat: repeat-x;
    background-size: auto 100%;

    height: 100%;
    width: 100%;

    background-position: 83.25% 0%;

    /* transform: translate3d(-95%, 0, 0); */

    animation: moveBG 35s infinite linear;
}

.movingBG.animate{
    animation-play-state: running;
}
.sizer{
    height: 100%;
    width: auto;
    opacity: 0;
}
/*
.splitImgWrap{
    height: 100%;
    width: fit-content;
    /* border: 0.1rem solid red; 
    padding: 0;
    margin: 0;
}
.splitImgWrap img{
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-position: bottom;
}
.splitImg{
    height: 100%;
    width: auto;
    opacity: 1;
}
.splitImgWrap.one{
    background-image: url('./splitBG/1.jpg');
}
.splitImgWrap.two{
    background-image: url('./splitBG/2.jpg');
}
.splitImgWrap.three{
    background-image: url('./splitBG/3.jpg');
}
.splitImgWrap.four{
    background-image: url('./splitBG/4.jpg');
}
.splitImgWrap.five{
    background-image: url('./splitBG/5.jpg');
}
.splitImgWrap.six{
    background-image: url('./splitBG/6.jpg');
}
.splitImgWrap.seven{
    background-image: url('./splitBG/7.jpg');
}
.splitImgWrap.eight{
    background-image: url('./splitBG/8.jpg');
}
.splitImgWrap.nine{
    background-image: url('./splitBG/9.jpg');
}
.splitImgWrap.ten{
    background-image: url('./splitBG/10.jpg');
}
.splitImgWrap.eleven{
    background-image: url('./splitBG/11.jpg');
}

*/


.staticBG{
    filter: grayscale(100%);
    background-size: cover;
    position: absolute;
    height: 100%;
    width: fit-content;
}
#sizeImg2{
    height: 100%;
    width: auto;
    opacity: 1;
}


@keyframes moveBG{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 83.25% 0%;
    }
}