.filter {
  //Sizing
  width: 12rem;

  //Spacing
  padding: 0 1rem;
  margin: 0.25rem 0.5rem;

  //Text
  color: black;

  //Background & Border
  background-color: hsl(120, 60%, 80%);
  border-radius: 1rem;

  label {
    //Display
    display: flex;
    align-items: center;
    width: fit-content;

    input {
      margin: 0.5rem;
    }
  }
}
