/* Page Container */
#Library{
  box-sizing: border-box;
  position: absolute;

  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //justify-content: center;

  //width: 100%;
  //height: 100%;
  //padding: 1rem;
  //border-radius: 1rem;

  overflow-y: auto;

}

.libraryBody{
  box-sizing: border-box;

  //display: grid;
  //grid-template-columns: 1fr 35rem;

  //width: 95%;
  //height: 95vh;

}

.libraryScroll{
  box-sizing: border-box;
  width: 100%;
  height: 95vh;
  border-radius: 1rem;
  border: 0.5rem solid aliceblue;
  overflow-y: auto;

  scrollbar-color: var(--green) var(--light-blue);

  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  justify-items: center;

  background-image: url('./LibraryFull.png');
  background-position: bottom;
  background-repeat: repeat-y;
  background-size: 100%;
  padding-bottom: 0rem;



}



.libraryInfo{
  box-sizing: border-box;
  height: 95vh;
  position: relative;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
}

/* Page Title */
.libraryTitle{
  //position: fixed;
  /* Size */
  width: fit-content;
  padding: 1rem;
  margin-top: -0.5rem;
  /* Border & Background */
  border: 0.5rem solid aliceblue;
  border-radius: 1rem;
  background: hsl(200,50%,60%);
  /* Text */
  text-align: center;
  color: aliceblue;
  /* Animation */
  /*animation: slowGrowPulse 5s infinite linear;*/
}

@media only screen and (max-width: 767px){

  #Library{
    height: 100%;
    overflow-y: scroll;

    .sallyBubbleWrap{
      display: none;
    }
    .libraryBottom{
      display: none;
    }
    .libraryList{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .libraryBody{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .libraryScroll{
    height: 80vh;
    margin-bottom: 1rem;
  }

  .libraryBody{
    display: flex;
    flex-direction: column-reverse;

  }
  .libraryInfo{
    height: 100%;
  }
  .summaryEntryTop{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}