.tableContents{
  //opacity: 0.5;
  //Position
  position: relative;
  //margin: 0rem;
  //bottom: 0;
  //left: 0;
  //width: 100%;
  z-index: 5;

  width: fit-content;

  border: 0.5rem solid var(--primary-blue);
  border-radius: 2rem;

  color: aliceblue;
  font-weight: bold;

  //Spacing
  padding: 0.5rem;
  margin: auto;

  //Background & Border
  background-color: var(--dark-accent);



  button{
    margin: 0.25rem;
    width: 2.5rem;

    padding: 0.25rem;
    border-radius: 100%;
    //box-shadow: 0 0 1rem midnightblue;
    //background-color: var(--dark-accent);
    //color: aliceblue;
  }
  button.current{
    background-color: var(--primary-blue);
  }

    .materialWrap{
      background-color: var(--light-green);
      border-radius: 2rem;
      padding: 0.1rem;
      margin: 0.5rem 0;
        //box-shadow: 0 0 1rem midnightblue;
        //border: 0.2rem solid aliceblue;

        button{
            box-shadow: none;
        }
    }


}