/* Container */
.splashLogo{
    /* Position */
    position: absolute;
    top: 2rem;
    left: 2rem;
    /* Size */
    width: 10rem;
    height: fit-content;
    padding: 0.25rem 0.5rem;
    /* Background & Border */

    border-radius: 2rem;
    background-color: hsl(0,0%,100%);
}
/* Image */
.splashLogo img{
    width: 100%;
    height: auto;
}

@keyframes slideDown{
    0%{
        transform: translateY(-100%);
    }
}

@media only screen and (max-width: 550px){
    .splashLogo{
        left: 50%;
        margin-left: -7.5rem;
    }
}

